@{
    ViewBag.Title = "Kontrollpanel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kontrollpanel</h2>

@{
    <p>Velkommen til administrator-siden!</p>
    <p>Ved å benytte menyen til venstre kan du se lister med produkter, brukere og ordre.</p>
    <p>Du kan også opprette nye objekter, endre dem og se detaljer.</p>
}