@model Model.Order
@using Model
@{
    ViewBag.Title = "Ordredetaljer";
}

<h2>Ordredetaljer</h2>

<table class="cartTable">
    <thead>
        <tr>
            <th class="tableHeader" colspan="4">Ordretidspunkt: @Html.DisplayFor(model => model.date)</th>
        </tr>
        <tr class="tableHeaderRow">
            <th>Varenavn</th>
            <th>Antall</th>
            <th>Pris</th>
            <th>Totalt</th>
        </tr>
    </thead>
    <tbody>
        @{
            int totalSum = 0;
            foreach (var orderItem in Model.orderItems) {
                int price = (orderItem.item.price - orderItem.item.rabatt);
                int amount = orderItem.amount;
                int itemPrice = price*amount;
                <tr>
                    <td>
                        @orderItem.item.name
                    </td>
                    <td>
                        @amount
                    </td>
                    <td>
                        @price kr
                    </td>
                    <td>
                        @itemPrice kr
                    </td>
                </tr>
                totalSum += itemPrice;
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td>Totalt:</td>
            <td id="cartTotalPrice">@totalSum kr</td>
        </tr>
    </tfoot>
</table>

<p>
    @{
        User user = (User)HttpContext.Current.Session["UserLoggedIn"];   
    }
    @Html.ActionLink("Min side", "MyPage", "User", new { id=user.id}, null) |
    @Html.ActionLink("Til forsiden", "Index", "Item")
</p>
