
<h2>Bestillingen er mottatt</h2>

<p>Takk for din bestilling. Varene vil bli sendt til din adresse så snart som mulig. 
    Dersom du registrerte deg som bruker, kan du se dine bestillinger på "Min side".</p>